<ion-view title="Agregar Sucursal" id="page41">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="agregarSucursal-markdown23" style="color:#000000;font-size:16px;text-align:center;">
            <p>Selecciona tus sucursales preferidas:</p>
        </div>
        <div class="spacer" style="width: 320px; height: 35px;"></div>
        <form id="agregarSucursal-form21" class="list">
            <label class="item item-select" id="agregarSucursal-select26" name="Cadenas">
                <span class="input-label">Supermercado</span>
                <select>
                    <option>Carrefour</option>
                    <option>COTO</option>
                    <option>DIA%</option>
                    <option>Disco</option>
                    <option>Jumbo</option>
                    <option>Wallmart</option>
                </select>
            </label>
            <label class="item item-select" id="agregarSucursal-select27" name="Provincia">
                <span class="input-label">Provincia</span>
                <select>
                    <option>Buenos Aires</option>
                </select>
            </label>
            <label class="item item-select" id="agregarSucursal-select28" name="Localidad">
                <span class="input-label">Localidad</span>
                <select>
                    <option>Ciudad Autónoma de Buenos Aires</option>
                    <option>Avellaneda</option>
                    <option>Lanús</option>
                    <option>Lomas de Zamora</option>
                    <option>Banfield</option>
                    <option>Ramos Mejía</option>
                    <option>Olivos</option>
                    <option>Martinez</option>
                    <option>San Martín</option>
                </select>
            </label>
            <label class="item item-select" id="agregarSucursal-select29" name="Sucursal">
                <span class="input-label">Sucursal</span>
                <select>
                    <option>Sucursal 1</option>
                </select>
            </label>
            <div class="spacer" style="width: 320px; height: 27px;"></div>
            <div>
                <img src="img/aKNYlOo8TPu71AeHOs6o_Mapa.PNG" width="40%" height="" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 320px; height: 12px;"></div>
        </form>
        <a ui-sref="DNdeCompro" id="agregarSucursal-button83" style="color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-android-add-circle">Agregar</a>
    </ion-content>
</ion-view>