<ion-view title="Ahorros Acumulados" id="page51">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="ahorrosAcumulados-markdown32" style="color:#000000;font-size:16px;text-align:center;">
            <p>Ahorros Acumulados lista todos los ahorros correspondientes a compras que hayas realizado (y que figuran en Compras Realizadas) ordenados por fecha, desde la más reciente a la más antigua.</p>

            <p>Selecciona una compra para visualizar su detalle:</p>
        </div>
        <form id="ahorrosAcumulados-form29" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Búsqueda por Supermercado/Sucursal">
            </label>
        </form>
        <div class="spacer" style="width: 320px; height: 6px;"></div>
        <ion-list id="ahorrosAcumulados-list23">
            <ion-item class="item-thumbnail-left energized" id="ahorrosAcumulados-list-item62">
                <img src="img/d4aildERFaUzAdPkdchu_Mapa.PNG">
                <h2energized>Coto - Sucursal 1, Avellaneda
                    <p style="white-space:normal;">27/09/2016 - Porcentaje de Ahorro: 20% - Valor de Ahorro: $35</p>
                </h2energized>
            </ion-item>
            <ion-item class="item-thumbnail-left energized" id="ahorrosAcumulados-list-item63">
                <img src="img/d4aildERFaUzAdPkdchu_Mapa.PNG">
                <h2energized>Carrefour - Sucursal 3, Almagro
                    <p style="white-space:normal;">22/09/2016 - Porcentaje de Ahorro: 12% - Valor de Ahorro: $147</p>
                </h2energized>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>