<ion-view title="Cerrar Chango" id="page20">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="cerrarChango-markdown50" style="color:#000000;font-size:16px;text-align:center;">
            <p ng-if="!compra.simulada" >La comunidad eChango te agradece hayas realizado la compra confiando en nosotros. Ten en cuenta que los valores calculador son estimativos y pueden diferir del valor final abonado en línea de cajas al momento de la compra. Si la diferencia
                es más de un 10% del valor abonado (incluido el cálculo de descuentos) por favor envíanos un aviso mediante el botón "Reportar $". Muchas gracias!</p>
        </div>
        <div class="spacer" style="width: 320px; height: 12px;"></div>
        <div class="list card" id="cerrarChango-card21">
            <ion-item class="item-thumbnail-left dark" id="cerrarChango-list-item122">
                <h2dark>{{compra.comercio.nombre}}-{{compra.comercio.direccion}}
                    <p style="white-space:normal;">
                    	
                    	{{compra.fecha}}</p>
                </h2dark>
            </ion-item>
            <div class="item item-body" id="cerrarChango-list-item-container15">
                <ion-list id="cerrarChango-list40">
                    <ion-item id="cerrarChango-list-item126">Medio de Pago:
                        <span class="item-note">{{compra.medioDePago.tarjeta.nombre }} {{compra.medioDePago.banco.nombre }}</span>
                    </ion-item>
                    <ion-item id="cerrarChango-list-item127">Tarjeta de Descuento:
                        <span class="item-note">{{compra.descuento.nombre}}</span>
                    </ion-item>
                    <ion-item id="cerrarChango-list-item128">Valor de Compra:
                        <span class="item-note">{{compra.costo.valorLista}}</span>
                    </ion-item>
                    <ion-item id="cerrarChango-list-item129">Cantidad de Productos:
                        <span class="item-note">{{compra.lista.totalProductos}}</span>
                    </ion-item>
                    <ion-item id="cerrarChango-list-item130">Valor de Descuento:
                        <span class="item-note">{{compra.costo.descuentoTotal}}</span>
                    </ion-item>
                    <ion-item id="cerrarChango-list-item131">Precio Final:
                        <span class="item-note">{{compra.costo.valorTotal}}</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div id="cerrarChango-button-bar19" class="button-bar">
            <a ng-click="guardarCompra()" id="cerrarChango-button149" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-android-done-all">Finalizar</a>
            
            <a ng-click="reportarError()" ng-if="!compra.simulada" id="cerrarChango-button151" style="font-weight:600;color:#FFFFFF;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-assertive  button-block icon-right ion-android-send">Reportar $</a>
        </div>
    </ion-content>
</ion-view>