<ion-view title="Combinar Listas" id="page11">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 11px;"></div>
        <div id="combinarListas-markdown39" style="color:#000000;font-size:16px;text-align:center;">
            <p>eChango te permite combinar tus listas para generar una nueva lista o reemplazar una existente. Ten en cuenta que al combinar aquellos productos que estén repetidos serán incluidos una única vez, y sus unidades de compra se sumarán.</p>

            <p>¡Selecciona al menos dos listas y luego combínalas!</p>
        </div>
        <div class="item item-body" id="combinarListas-list-item-container6">
            <form id="combinarListas-form35" class="list">
                <ion-checkbox name="List1">Casa</ion-checkbox>
                <ion-checkbox name="List2">Cumpleaños</ion-checkbox>
                <ion-checkbox name="List 3">Almuerzo en Familia</ion-checkbox>
                <ion-checkbox name="List 4">Lista 4</ion-checkbox>
                <ion-checkbox name="List 5">Lista 5</ion-checkbox>
            </form>
        </div>
        <a ui-sref="menEChango.verModificarLista" id="combinarListas-button126" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-merge">Combinar</a>
    </ion-content>
</ion-view>