<ion-view title="Compras Realizadas" id="page49">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="comprasRealizadas-markdown30" style="color:#000000;font-size:16px;text-align:center;">
            <p>Compras Realizadas lista todas las compras que has realizado y registrado en la Comunidad eChango, ordenadas por fecha, desde la más reciente a la más antigua.</p>

            <p>Selecciona una compra para visualizar su detalle:</p>
        </div>
        <form id="comprasRealizadas-form28" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Búsqueda por Supermercado/Sucursal">
            </label>
        </form>
        <div class="spacer" style="width: 320px; height: 6px;"></div>
        <ion-list id="comprasRealizadas-list21">
            <ion-item class="item-thumbnail-left energized" id="comprasRealizadas-list-item57">
                <img src="img/STimDv5VTXyctLLYnwTL_Mapa.PNG">
                <h2energized>Coto - Sucursal 1, Avellaneda
                    <p style="white-space:normal;">27/09/2016 - $300,05 - 45 artículos comprados</p>
                </h2energized>
            </ion-item>
            <ion-item class="item-thumbnail-left energized" id="comprasRealizadas-list-item59">
                <img src="img/STimDv5VTXyctLLYnwTL_Mapa.PNG">
                <h2energized>Carrefour - Sucursal 3, Almagro
                    <p style="white-space:normal;">22/09/2016 - $1200,22 - 96 artículos comprados</p>
                </h2energized>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>