<ion-view title="Compras Realizadas" id="page49">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="comprasRealizadas-markdown30" style="color:#000000;font-size:16px;text-align:center;">
            <p>Compras Realizadas lista todas las compras que has realizado y registrado en la Comunidad eChango, ordenadas por fecha, desde la más reciente a la más antigua.</p>

        </div>
        <div class="spacer" style="width: 320px; height: 6px;"></div>
        <ion-list id="comprasRealizadas-list21">
            <ion-item class="item-thumbnail-left energized" ng-repeat="item in compras">
                <h2energized>{{item.doc.comercio.nombreCadena}}-{{item.doc.comercio.direccion}}
                    <p style="white-space:normal;">{{item.doc.fecha | date: 'dd/MM/yyyy'}} - ${{item.doc.costo.valorTotal}}   - {{{item.doc.lista.totalProductos}}   artículos comprados</p>
                </h2energized>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>