<ion-view title="Configuración" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="configuraciN-button11" class=" button button-positive  button-block ">Opciones de aplicación</button>
        <a ui-sref="menu.datosAdicionales" id="configuraciN-button12" class=" button button-positive  button-block ">Opciones de cuenta</a>
        <a ui-sref="menu.agregarUbicaciN" id="configuraciN-button13" class=" button button-positive  button-block ">Agregar ubicación</a>
        <a ui-sref="menu.agregarMedioDePago" id="configuraciN-button14" class=" button button-positive  button-block ">Agregar Medio de pago</a>
        <a ui-sref="menu.agregarTarjetaPromocional" id="configuraciN-button19" class=" button button-positive  button-block ">Agregar Tarjeta promoción</a>
    </ion-content>
</ion-view>