<ion-view title="Cuenta eChango" id="page45">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="cuentaEChango-markdown26" style="color:#000000;font-size:16px;text-align:center;">
            <p>Administra toda la información de tu cuenta eChango. vincula/desvincula tus redes sociales, agrega/modifica/elimina tu información personal, cierra sesión y hasta elimina tu cuenta si deseas dejar de pertenecer a la comunidad.</p>
        </div>
        <a ui-sref="menEChango.redesSociales" id="cuentaEChango-button47" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-network">Vincula/Desvincula Red Social</a>
        <a ui-sref="informaciNDeUsuario" id="cuentaEChango-button48" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-information">Información Personal</a>
        <!--
        <a ui-sref="login" id="cuentaEChango-button49" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-log-out">Cerrar Sesión</a>
        -->
        <a ng-click="eChangoLogout()" id="cuentaEChango-button49" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-log-out">Cerrar Sesión</a>
        <a ui-sref="menEChango.eliminarCuentaEChango" id="cuentaEChango-button52" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-android-delete">Eliminar Cuenta eChango</a>
    </ion-content>
</ion-view>