<ion-view title="Datos Adicionales" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="datosAdicionales-form4" class="list ">
                <label class="item item-input " id="datosAdicionales-input1" name="nombre">
                    <input type="text" placeholder="Nombre" ng-model="datosAdicionales.nombre">
                </label>
                <label class="item item-input " id="datosAdicionales-input2" name="password">
                    <input type="password" placeholder="password" ng-model="datosAdicionales.password">
                </label>
        <ion-item ng-click="openModal(1)">
            <label class="item item-select " id="datosAdicionales-select1">
                <span class="input-label" >Sexo: {{datosAdicionales.sexo}}</span>
            </label>
          </ion-item>
        <ion-item ng-click="openModal(2)">
            <label class="item item-select " id="datosAdicionales-select2">
                <span class="input-label" >Edad: {{datosAdicionales.edad}}</span>
            </label>
          </ion-item>
        <ion-item ng-click="openModal(3)">
            <label class="item item-select " id="datosAdicionales-select3">
                <span class="input-label" >Estado Civil: {{datosAdicionales.estadoCivil}}</span>
            </label>
          </ion-item>
        <ion-item ng-click="openModal(4)">
            <label class="item item-select " id="datosAdicionales-select4">
                <span class="input-label" >Regularidad de Compra: {{datosAdicionales.regularidadCompra}}</span>
            </label>
          </ion-item>
            <h3 id="datosAdicionales-heading2" style="color:#000000;text-align:center;" class=" ">Lugares de compra</h3>
            <ion-checkbox name="lugarCompraAlmacenBarrio" ng-model="datosAdicionales.lugarCompraAlmacenBarrio">Almacén de Barrio</ion-checkbox>
            <ion-checkbox name="lugarCompraMinimercado" ng-model="datosAdicionales.lugarCompraMinimercado">Minimercado</ion-checkbox>
            <ion-checkbox name="lugarCompraSupermercado" ng-model="datosAdicionales.lugarCompraSupermercado">Supermercado</ion-checkbox>
            <ion-checkbox name="lugarCompraMinimercadoChino" ng-model="datosAdicionales.lugarCompraMinimercadoChino">Minimercado Chino</ion-checkbox>
            <!--<a ui-sref="menu.eChango" id="datosAdicionales-button7" class=" button button-stable  button-block " ng-click="guardar()">Guardar</a>-->
            <button ng-click="guardar()" class=" button button-stable  button-block ">Guardar</button>
        </form>
    </ion-content>
</ion-view>

 <script id="sexo-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Sexo</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <ion-list>
                <ion-item ng-repeat="sexo in sexos" ng-click="closeModalSeleccionSexo(sexo)">
                  {{sexo}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>

       <script id="edad-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Edad</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <ion-list>
                <ion-item ng-repeat="edad in edades" ng-click="closeModalSeleccionEdad(edad)">
                  {{edad}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>

       <script id="estado-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Estado Civil</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <ion-list>
                <ion-item ng-repeat="estado in estados" ng-click="closeModalSeleccionEstadoCivil(estado)">
                  {{estado}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>

       <script id="regularidad-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Regularidad de Compra</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <ion-list>
                <ion-item ng-repeat="regularidad in regularidades" ng-click="closeModalSeleccionRegularidadCompra(regularidad)">
                  {{regularidad}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>