<ion-view title="Detalle Producto" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="detalleProducto-card22">
            <ion-item id="detalleProducto-list-item21" class="  ">Fideos Matarazzo</ion-item>
            <div class=" item item-image">
                <img src="img/rAlxlnLiQxO7tAVaUDSo_fideos.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <p id="detalleProducto-markdown3" style="color:#000000;" class=" ">Fideos de harina de trigo clase C en paquete de 500gms</p>
        <a ui-sref="menu.miChango" id="detalleProducto-button15" class=" button button-balanced  button-block icon-left ion-android-cart ">Agregar a mi chango</a>
    </ion-content>
</ion-view>