<ion-view title="¿Dónde Compro?" id="page38">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="DNdeCompro-markdown19" style="color:#000000;font-size:16px;text-align:center;">
            <p>Con eChango podés configurar hasta 3 sucursales donde realices compras de manera frecuente.</p>

            <p>Dichas sucursales serán utilizadas como referencia para sugerencia de descuentos y promociones.</p>
        </div>
        <ion-list id="DNdeCompro-list14">
            <ion-item class="item-thumbnail-left item-icon-right energized" id="DNdeCompro-list-item25" ui-sref="menEChango.agregarSucursal">
                <img src="img/iPmLgLG8SW2wyoBMUBGP_Mapa.PNG">
                <h2energized>Carrefour Sucursal 1
                    <p style="white-space:normal;">Dirección 4234, Buenos Aires, Artentina</p>
                    <i class="icon ion-android-bookmark"></i>
                </h2energized>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right energized" id="DNdeCompro-list-item26" ui-sref="menEChango.agregarSucursal">
                <h2energized>Sucursal 2
                    <p>Sin Selección</p>
                    <i class="icon ion-android-bookmark"></i>
                </h2energized>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right energized" id="DNdeCompro-list-item27" ui-sref="menEChango.agregarSucursal">
                <h2energized>Sucursal 3
                    <p>Sin Selección</p>
                    <i class="icon ion-android-bookmark"></i>
                </h2energized>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>