<ion-view title="eChango"  id="page1" style="background-color:#E6B96D;" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div id="eChango-button-bar1" class=" button-bar "></div>
        <div class="list card " id="eChango-card23">
            <div class="spacer" style="width: 300px; height: 23px;"></div>
            <div class="spacer" style="width: 283px; height: 10px;"></div>
            <p id="eChango-markdown6" style="color:#306D96;text-align:center;" class=" ">La comunidad más grande de consumidores consciente de la Argentina te da la bienvenida. Ya estás listo para empezar a cuidar mejor tu dinero</p>
            <ion-item class="item-icon-left assertive  " id="eChango-list-item24" ui-sref="menu.nuevaLista">
                <i class="icon ion-android-list"></i>Nueva lista</ion-item>
            <ion-item class="item-icon-left energized  " id="eChango-list-item25" ui-sref="menu.relevarPrecio">
                <i class="icon ion-alert"></i>Informar precio</ion-item>
            <ion-item class="item-icon-left assertive  " id="eChango-list-item26" ui-sref="menu.consultarPrecio">
                <i class="icon ion-social-usd"></i>Consultar precio</ion-item>
            <ion-item class="item-icon-left  " id="eChango-list-item27" ui-sref="menu.iniciarCompra">
                <i class="icon ion-android-cart"></i>Gestionar Compra</ion-item>
            <ion-item class="item-icon-left  " id="eChango-list-item27" ui-sref="menu.escanearTicket">
                <i class="icon ion-ios-list-outline"></i>Escanear Ticket</ion-item>
        </div>
    </ion-content>
</ion-view>