<ion-view title="Elija un chango" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <button ng-click="elegirLista(null)" id="elijaUnChango-button22" class=" button button-positive  button-block icon-left ion-android-cart ">Chango vacío</button>
        <h3 id="elijaUnChango-heading9" style="color:#000000;" class=" ">Con una lista</h3>
        <ion-list >
          <ion-item ng-repeat="item in listasGuardadas">
          <button ng-click="elegirLista(item)" id="elijaUnChango-button22" class=" button button-positive  button-block icon-left ion-android-cart ">{{item.nombre}} </button>
            
          </ion-item>
        </ion-list> 
    </ion-content>
</ion-view>