<ion-view title="Elija un chango" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.miChango" id="elijaUnChango-button22" class=" button button-positive  button-block icon-left ion-android-cart ">Chango vacío</a>
        <h3 id="elijaUnChango-heading9" style="color:#000000;" class=" ">Con una lista</h3>
        <a ui-sref="menu.miChango" id="elijaUnChango-button23" class=" button button-positive  button-block icon-left ion-android-cart ">Favoritos</a>
        <a ui-sref="menu.miChango" id="elijaUnChango-button25" class=" button button-positive  button-block icon-left ion-android-cart ">Asado</a>
        <a ui-sref="menu.miChango" id="elijaUnChango-button24" class=" button button-positive  button-block icon-left ion-android-cart ">Recomendados de la semana</a>
    </ion-content>
</ion-view>