<ion-view title="Escanear Ticket" id="page29" class=" ">
<ion-content padding="true" class="has-header">
      <!--<ion-content ng-controller="escanearTicketCtrl">-->
        <p>
        <font size="3"><b>Imagen de muestra:</b></font>
        </p>
        <ion-item ng-show="showAnalyzeButton">
        <img style="width: 50%;" id="pic" src="">
      </ion-item>

<!--
           <div ng-if="showAnalyzeButton">

            <button ng-click="testOcrad()" class="button button-full button-positive">
              Analizar Texto
            </button>
            
            <button ng-click="showActionSheet()" class="button button-full button-positive">
              Volver a intentar
            </button>

         </div>
         -->
            <ion-item ng-show="showAnalyzeButton">
                <button class="button button-full button-positive" ng-click="testOcrad()" ng-show="showAnalyzeButton">Analizar Texto</button>
                <button class="button button-full button-positive" ng-click="showActionSheet()" ng-show="showAnalyzeButton">Volver a intentar</button>
                <!--
                <button class="button button-full button-positive" ng-click="parsearTexto()" ng-show="showAnalyzeButton">Parsear Texto</button>
                -->
            </ion-item>
 <!--     <p collection-repeat="linea in textos">
             {{linea}}
        </p> -->
        <p ng-show="showAnalyzeButton">
        <font size="3"><b>Resumen de la Compra:</b></font>
        </p>
    <ion-item ng-show="showAnalyzeButton">
    <p>Comercio: {{cadenaSupermercado}}</p>
    <p>Fecha de Compra: {{fechaDeCompra}}</p>
    </ion-item>
    
    <p collection-repeat="producto in productosLeidos" ng-show="showAnalyzeButton">
      Código: {{producto.codigo}} Precio: ${{producto.precio}}
    </p>
    
  </ion-content>

</ion-view>
