<ion-view title="Escanear Ticket" id="page29" class=" ">
<ion-content padding="true" class="has-header">
      <!--<ion-content ng-controller="escanearTicketCtrl">-->

        <ion-item>
        <img style="width: 50%;" id="pic" src="">
</ion-item>

<!--
           <div ng-if="showAnalyzeButton">

            <button ng-click="testOcrad()" class="button button-full button-positive">
              Analizar Texto
            </button>
            
            <button ng-click="showActionSheet()" class="button button-full button-positive">
              Volver a intentar
            </button>

         </div>
         -->
            <ion-item>
                <button class="button button-full button-positive" ng-click="testOcrad()" ng-show="showAnalyzeButton">Analizar Texto</button>
                <button class="button button-full button-positive" ng-click="showActionSheet()" ng-show="showAnalyzeButton">Volver a intentar</button>
                <button class="button button-full button-positive" ng-click="parsearTexto()" ng-show="showAnalyzeButton">Parsear Texto</button>
                
            </ion-item>
<ion-item>
    <h2>texto reconocido</h2>
</ion-item>

      <p collection-repeat="linea in textos">
             {{linea}}
        </p>
<h2>texto parseado</h2>
    <ion-item>
    <p>Comercio: {{cadenaSupermercado}}</p>
    <p>Fecha de Compra: {{fechaDeCompra}}</p>
    </ion-item>
   
    <ion-item ng-repeat="producto in productosLeidos">
      Código: {{producto.codigo}}
      Precio: {{producto.precio}}
    </ion-item>

  </ion-content>

</ion-view>
