<ion-view title="Gestión de Compra" id="page7">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div>
            <img src="img/b5BI4YmQZCYBWehHSZA9_LogoPNG.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="gestiNDeCompra-markdown43" style="color:#000000;font-size:16px;text-align:center;">
            <p>Con eChango tus compras diarias son más fáciles, rápidas y eficientes.</p>

            <p>¡Gestiona tu compra con eChango y logra obtener la mejor compra para ti!</p>
        </div>
        <a ui-sref="parametrizaciNDeCompra" id="gestiNDeCompra-button133" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-heart">¡Comenzar a Comprar!</a>
    </ion-content>
</ion-view>