<ion-view title="Iniciar Compra" id="page27" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="iniciarCompra-heading11" style="color:#000000;font-weight:300;" class=" ">Seleccione un comercio</h3>
        
         <ion-item ng-click="openModal(2)">
            <label class="item item-select " id="agregarMedioDePago-select7">
                <span class="input-label" >Cadena: {{cadenaSeleccionada.nombre}}</span>
            </label>
          </ion-item>
    <ion-item ng-click="openModal(1)">
            <label class="item item-select " id="agregarComercio-select7">
                <span class="input-label" >Comercio: {{comercioSeleccionado.nombre}}</span>
            </label>
          </ion-item>
        <button ng-click="agregar()" id="agregarComercio-button37" class=" button button-balanced  button-block icon-left ion-android-add ">Agregar</button>
        <ion-list id="comercios-list13" class=" " >
            <ion-item class="" ng-repeat="comercio in comerciosGuardados" type="item-text-wrap" href="">
        
        <h2>{{comercio.nombre}}</h2>
        <p>{{comercio.direccion}}</p>

<a ng-click="seleccionar(comercio)" id="ubicaciones-button10" class=" button button-positive icon-left ion-checkmark ">Selecionar</a>
       
      </ion-item>
        </ion-list>
        <p ng-if="comerciosGuardados == null || comerciosGuardados.length < 1"><i>No hay comercios favortios seleccionados</i></p>
    
    
        
    </ion-content>
    <script id="cadenas-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Cadena</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <ion-list>
                <ion-item ng-repeat="cadena in cadenasDisponibles" ng-click="closeModalSeleccionCadena(cadena)">
                  {{cadena.nombre}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
    <script id="comercios-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Comercio</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <ion-list>
                <ion-item ng-repeat="comercio in comercios" ng-click="closeModalSeleccionComercio(comercio.doc)">
                  {{comercio.doc.nombre}}--{{comercio.doc.direccion}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
</ion-view>