<ion-view title="Listas de Compra" id="page8">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="listasDeCompra-markdown34" style="color:#000000;font-size:16px;text-align:center;">
            <p>eChango te provee la posibilidad de gestionar tus propias listas de compras, donde puedes agregar los productos que luego comprarás.</p>

            <p>¡Selecciona una lista y edítala o crea una nueva desde cero!</p>
        </div>
        <div class="spacer" style="width: 320px; height: 9px;"></div>
        <a ui-sref="menEChango.misListas" id="listasDeCompra-button120" style="font-weight:600;color:#000000;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-ios-list-outline">Mis Listas</a>
        <a ui-sref="menEChango.combinarListas" id="listasDeCompra-button115" style="font-weight:600;color:#000000;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-merge">Combinar Listas de Compra</a>
        <a ng-click="simularConLista()" id="listasDeCompra-button121" style="font-weight:600;color:#000000;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-ios-cart">Simular Compra con Lista</a>
        <a ui-sref="menEChango.ticketEscaneado" id="listasDeCompra-button125" style="font-weight:600;color:#000000;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-qr-scanner">Escanear Ticket</a>
    </ion-content>
</ion-view>