<ion-view title="Login - Google +" id="page32">
    <ion-content padding="true" style="background: url(img/Cv51y2OTv6Rmh2TdVJd0_Login20Google2B.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="informaciNDeUsuario" id="loginGoogle-button42" style="font-weight:600;font-size:12px;" class="button button-balanced button-small button-block">Click para continuar (Funcionalidad en desarrollo)</a>
    </ion-content>
</ion-view>