<ion-view title="Medios de Pago" id="page26">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="mediosDePago-markdown12" style="color:#000000;font-size:16px;text-align:center;">
            <p>Aquí podrás gestionar (agregar, modificar y eliminar) tus medios de pago disponibles.</p>
        </div>
        <ion-list id="mediosDePago-list11">
            <ion-item class="item-icon-right dark" id="mediosDePago-list-item12" ui-sref="agregarMedioDePago">Efectivo
                <i class="icon ion-cash"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="mediosDePago-list-item23" ui-sref="agregarMedioDePago">BBVA - Visa - Débito
                <i class="icon ion-card"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="mediosDePago-list-item39" ui-sref="agregarMedioDePago">BBVA - Visa - Crédito
                <i class="icon ion-card"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="mediosDePago-list-item42" ui-sref="agregarMedioDePago">BNA - Visa - Crédito
                <i class="icon ion-card"></i>
            </ion-item>
        </ion-list>
        <a ui-sref="menEChango.agregarMedioDePago" id="mediosDePago-button98" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-android-add-circle">Agregar Nuevo Medio de Pago</a>
    </ion-content>
</ion-view>