<ion-view title="Menu Principal" hide-nav-bar="true" hide-back-button="true" id="page33">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div>
            <img src="img/9Yo8EJ6NQvWWxJjWyens_LogoPNG.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="gestiNDeCompra" id="menuPrincipal-button60" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-android-cart">Gestión de Compra</a>
        <a ui-sref="listasDeCompra" id="menuPrincipal-button67" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-ios-list-outline">Listas de Compra</a>
        <a ui-sref="menEChango.relevarProducto" id="menuPrincipal-button71" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-qr-scanner">Relevar Producto</a>
        <a ui-sref="reportesEIndicadores" id="menuPrincipal-button69" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-pie-graph">Reportes e Indicadores</a>
        <a ui-sref="configuraciNDeEChango" id="menuPrincipal-button70" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-android-settings">Configuración de eChango</a>
        <a ui-sref="portada" id="menuPrincipal-button78" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-log-out">Salir de eChango</a>
    </ion-content>
</ion-view>