<ion-view title="Mi chango" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="miChango-heading12" style="color:#24DF2B;" class=" ">Total: ·$300 | Ahorro: $23</h4>
        <div id="miChango-button-bar3" class=" button-bar ">
            <a ui-sref="menu.escanear" id="miChango-button26" class=" button button-energized  button-block ">Seguir comprando</a>
            <button id="miChango-button30" class=" button button-positive  button-block ">Cerrar Chango</button>
        </div>
        <h3 id="miChango-heading4" style="color:#000000;" class=" ">Agregados</h3>
        <ion-list id="miChango-list6" class=" ">
            <ion-item id="miChango-list-item9" ui-sref="menu.confirmarEscaneo" class="  ">Fideos Matarazzo
                <span class="item-note">x4</span>
            </ion-item>
            <ion-item id="miChango-list-item10" ui-sref="menu.detalleProducto" class="  ">Leche SanCor
                <span class="item-note">x2</span>
            </ion-item>
            <ion-item id="miChango-list-item11" ui-sref="menu.detalleProducto" class="  ">Servilletas Campanita
                <span class="item-note">x1</span>
            </ion-item>
            <ion-item id="miChango-list-item17" ui-sref="menu.detalleProducto" class="  ">CocaCola 2.25
                <span class="item-note">x2</span>
            </ion-item>
        </ion-list>
        <h1 id="miChango-heading5" style="color:#000000;" class=" ">Pendientes</h1>
        <ion-list id="miChango-list8" class=" ">
            <ion-item id="miChango-list-item19" class="  ">Mayonesa Hellmans
                <span class="item-note">x1</span>
            </ion-item>
            <ion-item id="miChango-list-item18" class="  ">Atun Gomez
                <span class="item-note">x6</span>
            </ion-item>
            <ion-item id="miChango-list-item20" class="  ">Nesquick
                <span class="item-note">x1</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>