<ion-view title="Mi chango" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="miChango-heading12" style="color:#24DF2B;" class=" ">Total: {{chango.total}}</h4>
        <div id="miChango-button-bar3" class=" button-bar ">
        	<button class="button button-energized  button-block " id="miChango-button26" ng-click="escannear()">Seguir comprando </button>
      
            <button id="miChango-button30" class=" button button-positive  button-block " ng-disabled="true">Cerrar Chango</button>
        </div>
        <h3 id="miChango-heading4" style="color:#000000;" class=" ">Agregados</h3>
        <ion-list id="miChango-list6" class=" ">
            <ion-item ng-repeat="producto in chango.productos" >
                  {{producto.nombre}}
                <span class="item-note">${{producto.precio.lista}} (x{{producto.cantidad}})</span>
                </ion-item>
        </ion-list>
        <h1 id="miChango-heading5" style="color:#000000;" class=" ">Pendientes</h1>
        <ion-item ng-repeat="item in listaActual.productos">
          <ion-item id="miChango-list-item19" class="  ">{{item.nombre}}
                <span class="item-note">{{item.cantidad}}</span>
            </ion-item>
          </ion-item>
        </ion-list> 
            
            
    </ion-content>
</ion-view>