<ion-view title="Mis Lugares" id="page42">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="misLugares-markdown24" style="color:#000000;font-size:16px;text-align:center;">
            <p>Con eChango podés configurar hasta 3 lugares que frecuentas usualmente.</p>

            <p>Dichos lugares serán utilizadas como referencia para sugerencia de descuentos y promociones.</p>
        </div>
        <ion-list id="misLugares-list15">
            <ion-item class="item-thumbnail-left item-icon-right energized" id="misLugares-list-item29" ui-sref="menEChango.agregarLugar">
                <img src="img/iPmLgLG8SW2wyoBMUBGP_Mapa.PNG">
                <h2energized>Casa
                    <p style="white-space:normal;">Dirección 4234, Buenos Aires, Artentina</p>
                    <i class="icon ion-ios-home"></i>
                </h2energized>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right energized" id="misLugares-list-item37" ui-sref="menEChango.agregarLugar">
                <h2energized>Trabajo
                    <p>Sin Selección</p>
                    <i class="icon ion-briefcase"></i>
                </h2energized>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right energized" id="misLugares-list-item38" ui-sref="menEChango.agregarLugar">
                <h2energized>Otro
                    <p>Texto libre</p>
                    <i class="icon ion-android-globe"></i>
                </h2energized>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>