<ion-view title="Nueva Lista" id="page23" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="nuevaLista-form10" class="list ">
            <label class="item item-input item-stacked-label " id="nuevaLista-input13" >
                <input type="text" placeholder="Nombre de la lista" ng-model="lista.nombre">
            </label>
        </form>
        <button class="button button-energized  button-block " id="miChango-button26" ng-click="escannear()">Agregar producto </button>
        <button id="nuevaLista-button32" class=" button button-positive  button-block icon-left ion-clipboard ">Buscar Prodcuto por Nombre</button>
        <button id="nuevaLista-button33" class=" button button-positive  button-block icon-left  " ng-click="guardar()">Guardar Lista</button>
        <ion-list id="listaNueva" class=" ">
            <ion-item ng-repeat="(i,item) in productos  track by $index">
            {{item.nombre }}
            <input id="{{item.id}}" type="text" value="{{item.cantidad}}" ng-model="productos[i].cantidad">
          <button ng-click="borrar(item)" id="borrar{{item.id}}" class=" button button-positive  button-block icon-left ion-android-cart ">BORRAR </button>
            
          </ion-item>
           </ion-list>
    </ion-content>
</ion-view>