<ion-view title="Parametrización de Compra" id="page16">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="parametrizaciNDeCompra-markdown45" style="color:#000000;font-size:16px;text-align:center;">
            <p>Ayuda a eChango a parametrizar tu compra. Dinos dónde te encuentras, cómo pagarás y si usarás una lista de compra definida por ti.</p>
        </div>
        <div class="spacer" style="width: 320px; height: 12px;"></div>
        <ion-list id="parametrizaciNDeCompra-list33">
            <ion-item class="item-icon-left dark" id="parametrizaciNDeCompra-list-item94" ui-sref="agregarSucursal">
                <i class="icon ion-android-compass"></i>Selecciona Comercio</ion-item>
            <ion-item class="item-icon-left dark" id="parametrizaciNDeCompra-list-item95" ui-sref="mediosDePago">
                <i class="icon ion-cash"></i>Selecciona Medio de Pago</ion-item>
            <ion-item class="item-icon-left dark" id="parametrizaciNDeCompra-list-item96" ui-sref="descuentos">
                <i class="icon ion-android-happy"></i>Selecciona Descuento</ion-item>
            <ion-item class="item-icon-left dark" id="parametrizaciNDeCompra-list-item97" ui-sref="misListas">
                <i class="icon ion-android-clipboard"></i>Selecciona Tipo de Lista</ion-item>
        </ion-list>
        <a ui-sref="eChango" id="parametrizaciNDeCompra-button134" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-android-cart">Ir al Chango</a>
    </ion-content>
</ion-view>