<ion-view title="Parámetros de Simulación" id="page22">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="parMetrosDeSimulaciN-markdown53" style="color:#000000;font-size:16px;text-align:center;">
            <p>Ayuda a eChango a parametrizar tu compra. Dinos dónde te encuentras, cómo pagarás y si usarás una lista de compra definida por ti.</p>
        </div>
        <div class="spacer" style="width: 320px; height: 12px;"></div>
        <ion-list id="parMetrosDeSimulaciN-list41">
            <ion-item class="item-icon-left dark" id="parMetrosDeSimulaciN-list-item132" ui-sref="menEChango.agregarSucursal">
                <i class="icon ion-android-compass"></i>Selecciona Comercio</ion-item>
            <ion-item class="item-icon-left dark" id="parMetrosDeSimulaciN-list-item133" ui-sref="menEChango.mediosDePago">
                <i class="icon ion-cash"></i>Selecciona Medio de Pago</ion-item>
            <ion-item class="item-icon-left dark" id="parMetrosDeSimulaciN-list-item134" ui-sref="menEChango.descuentos">
                <i class="icon ion-android-happy"></i>Selecciona Descuento</ion-item>
        </ion-list>
        <a ui-sref="menEChango.compraSimulada" id="parMetrosDeSimulaciN-button152" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-android-cart">Simular Compra</a>
    </ion-content>
</ion-view>