<ion-view title="Portada" hide-nav-bar="true" id="page1" style="background-color:#ECECEC;">
    <ion-content padding="true" style="background: url(img/alGYjFGkRmOKpBjTKXJA_Fondo20mobile20final20-20inicio.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding">
        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <h1 id="portada-heading13" style="color:#020000;font-weight:600;text-align:center;">eChango</h1>
        <div id="portada-markdown7" style="margin-top:0px;color:#000000;font-size:18px;text-align:center;">
            <p>¡¡Te damos la bienvenida a la comunidad de consumidores conscientes más grande de la República Argentina!!</p>
        </div>
        <a ui-sref="login" id="portada-button46" style="font-weight:600;color:#000000;font-size:20px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline">Ingresar a la Comunidad</a>
    </ion-content>
</ion-view>