<ion-view title="Recuperar Contraseña" id="page31">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
        <div class="spacer" style="width: 320px; height: 14px;"></div>
        <div id="recuperarContraseA-markdown15" style="color:#000000;font-size:16px;text-align:center;">
            <p>Para recuperar su contraseña deberá ingresar su usuario de eChango (e-mail), y recibirá en los próximos minutos su nueva contraseña en su casilla de correo.</p>
        </div>
        <form id="recuperarContraseA-form19" class="list">
            <label class="item item-input" id="recuperarContraseA-input27" name="usuario">
                <input type="email" placeholder="Dirección de e-mail">
            </label>
        </form>
        <a ui-sref="login" id="recuperarContraseA-button77" style="font-weight:600;color:#000000;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-alert-circled">Restaurar Contraseña</a>
    </ion-content>
</ion-view>