<ion-view title="Redes Sociales" id="page46">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="redesSociales-markdown27" style="color:#000000;font-size:16px;text-align:center;">
            <p>Administra tus redes sociales. Puedes vincular una nueva cuenta o eliminar una existente.</p>
        </div>
        <ion-list id="redesSociales-list19">
            <ion-item class="item-avatar item-icon-right dark" id="redesSociales-list-item53" ui-sref="loginFacebook">
                <img src="img/2UNz5d2SZCAG0Ks9w4sG_Avatarredsocial.png">
                <h2dark>Maximiliano Alberto Bracho
                    <p>maximiliano.bracho@outlook.com.ar</p>
                    <i class="icon ion-social-facebook"></i>
                </h2dark>
            </ion-item>
            <ion-item class="item-avatar item-icon-right dark" id="redesSociales-list-item54" ui-sref="loginGoogle">
                <img src="img/2UNz5d2SZCAG0Ks9w4sG_Avatarredsocial.png">
                <h2dark>Maximiliano Bracho
                    <p>maximiliano.bracho@gmail.com</p>
                    <i class="icon ion-social-googleplus"></i>
                </h2dark>
            </ion-item>
        </ion-list>
        <a ui-sref="cuentaEChango" id="redesSociales-button73" style="font-weight:600;color:#000000;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-android-checkmark-circle">Confirmar</a>
    </ion-content>
</ion-view>