<ion-view title="Registrarse" id="page6">
    <ion-content padding="true" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="registrarse-markdown8" style="color:#000000;">
            <p>Por favor, ingrese los siguientes datos para dar de alta su usuario a la comunidad eChango.</p>
        </div>
        <form id="registrarse-form14" class="list">
            <label class="item item-input" id="registrarse-input21" name="usuario">
                <input type="email" placeholder="Dirección de e-mail">
            </label>
            <div class="spacer" style="width: 300px; height: 19px;"></div>
            <label class="item item-input" id="registrarse-input22" name="password">
                <input type="password" placeholder="Contraseña">
            </label>
            <div class="spacer" style="width: 300px; height: 25px;"></div>
            <label class="item item-input" id="registrarse-input23" name="password-confirm">
                <input type="password" placeholder="Repetir Contraseña">
            </label>
        </form>
        <a ui-sref="informaciNDeUsuario" id="registrarse-button59" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-android-person-add">Crear Usuario eChango</a>
    </ion-content>
</ion-view>