<ion-view title="Relevar Producto" id="page52">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="relevarProducto-markdown33" style="color:#000000;font-size:16px;text-align:center;">
            <p>Mediante la funcionalidad de Relevar Producto puedes aportar directamente a la Comunidad eChango mediante el informe de precios de productos, y hasta incluso ingresar nuevos productos que no tengamos en nuestra base.</p>

            <p>¡Suma puntos relevando productos y conviértete en un eChanger!</p>
        </div>
        <div class="spacer" style="width: 320px; height: 6px;"></div>
        <!--
            <a ui-sref="menEChango.informarProducto" id="relevarProducto-button100" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-qr-scanner">Escanear Producto</a>
        
            <a ui-sref="menEChango.gestiNDeCompra" menu-close="" id="menEChango-button56" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-stable button-small button-block icon-left ion-android-cart">Gestión de Compra</a>
                -->
            <a ng-click="openModal(5)" menu-close="" id="menEChango-button56" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-stable button-block icon-left ion-android-cart">Comercio seleccionado: <br> {{datos.currentComercio.cadenaNombre}} - 
            {{datos.currentComercio.direccion}}</a>
                        
            
            <a ng-click="scanBarcode()" id="relevarProducto-button100" style="font-weight:600;color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-qr-scanner">Escanear Producto</a>
            
    </ion-content>
</ion-view>

 <script id="relevar-comercio.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Comercio a Relevar</h1>
          </ion-header-bar>
          <ion-content>
<!--
            
              <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div class="spacer" style="width: 320px; height: 35px;"></div>-->
        <form id="agregarSucursal-form21" class="list">
        <!--<ion-item ng-click="openModal(1)">
            <label class="item item-select " id="agregarMedioDePago-select7">
                <span class="input-label" >Provincia: {{provincia.nombre}}</span>
            </label>
          </ion-item>-->
            <label class="item item-select " id="agregarMedioDePago-select7" ng-click="openModal(1)">
                <span class="input-label" >Provincia: {{provincia.nombre}}</span>
            </label>
            <label class="item item-select " id="agregarComercio-select7" ng-click="openModal(2)">
                <span class="input-label" >Localidad: {{localidad.nombre}}</span>
            </label>
           <label class="item item-select " id="agregarMedioDePago-select7" ng-click="openModal(3)">
                <span class="input-label" >Cadena: {{cadena.nombre}}</span>
            </label>
          <label class="item item-select " id="agregarComercio-select7" ng-click="openModal(4)">
                <span class="input-label" >Comercio: {{comercio.direccion}}</span>
            </label>

        
        <!--          
            <div class="spacer" style="width: 320px; height: 27px;"></div>-->
            <div class="mapa">            
            	<map on-create="mapCreated(map)"></map>
        	</div>
           <!-- <div class="spacer" style="width: 320px; height: 12px;"></div>-->
        </form>
        <a ng-click="seleccionarComercio()" id="agregarSucursal-button83" style="color:#000000;font-size:16px;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block icon-left ion-android-add-circle">Confirmar</a>
    </ion-content>
        </ion-modal-view>
      </script>
  <script id="provincias-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Provincia</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <ion-list>
                <ion-item ng-repeat="item in provincias" ng-click="closeModalSeleccionProvincia(item)">
                  {{item.nombre}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
    
    <script id="localidades-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Localidad</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <ion-list>
                <ion-item ng-repeat="item in localidades" ng-click="closeModalSeleccionLocalidad(item)">
                  {{item.nombre}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
      
      <script id="cadenas-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Cadena</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <ion-list>
                <ion-item ng-repeat="item in cadenas" ng-click="closeModalSeleccionCadena(item)">
                  {{item.nombre}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
      
      <script id="comercios-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Elegir Comercio</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <ion-list>
                <ion-item ng-repeat="item in comercios" ng-click="closeModalSeleccionComercio(item.key)">
                  {{item.key.direccion}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
