<ion-view title="Reportes e Indicadores" id="page48">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <div id="reportesEIndicadores-markdown29" style="color:#000000;font-size:16px;text-align:center;">
            <p>eChango te provee una serie de reportes e indicadores con los cuales podrás gestionar tu economía hogareña.</p>

            <p>¡No olvides consultarlos de forma mensual para observar el avance histórico de tus consumos, productos comprados y sus precios y los ahorros obtenidos al utilizar eChango!</p>
        </div>
        <div class="spacer" style="width: 320px; height: 6px;"></div>
        <a ui-sref="comprasRealizadas" id="reportesEIndicadores-button74" style="font-weight:600;color:#000000;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-clipboard">Compras Realizadas</a>
        <a ui-sref="productosYPrecios" id="reportesEIndicadores-button75" style="font-weight:600;color:#000000;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-podium">Productos y Precios</a>
        <a ui-sref="ahorrosAcumulados" id="reportesEIndicadores-button85" style="font-weight:600;color:#000000;border-radius:40px 40px 40px 40px;" class="button button-energized  button-block button-outline icon-left ion-arrow-graph-up-right">Ahorros Acumulados</a>
    </ion-content>
</ion-view>