<ion-view title="Ubicaciones" id="page21" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="ubicaciones-list11" class=" ">
            <ion-item class="" ng-repeat="ubicacion in ubicaciones" type="item-text-wrap" href="">
        
        <h2>{{ubicacion.nombre}}</h2>
        <p>{{ubicacion.direccion}}</p>

<a ng-click="borrar(ubicacion)" id="ubicaciones-button10" class=" button button-assertive icon-left ion-android-remove ">Borrar</a>
<a ng-click="editar(ubicacion)" id="ubicaciones-button10" class=" button button-assertive icon-left ion-android-remove ">Editar</a>
       
      </ion-item>
        </ion-list>
        <a ui-sref="menu.agregarUbicaciN" id="ubicaciones-button10" class=" button button-balanced  button-block icon-left ion-android-add ">Agregar otra Ubicación</a>
    </ion-content>
    
    
    <script id="my-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Editar Ubicacion</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <label class="item item-input">
                <input type="text" ng-model="ubicacionAEditar.nombre" placeholder="Nombre">
              </label>              
              <button ng-click="editar()" class="button button-full button-positive">
                Guardar Cambios
              </button>
              
            </div>
            
          </ion-content>
        </ion-modal-view>
      </script>
</ion-view>