<ion-view title="Verificar Chango" id="page19">
    <ion-content padding="false" style="background: url(img/K3lay278TGW5Wk4WCXgT_Fondo20mobile20final.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="verificarChango-markdown49" style="color:#000000;font-size:16px;text-align:center;">
            <p>eChango te provee alertas en tiempo real sobre los productos que estás comprando. Ingresa a cada una de las alertas para decidir dónde, qué y cuánto comprar.</p>
        </div>
        <div class="spacer" style="width: 320px; height: 12px;"></div>
        <div class="item item-body" id="verificarChango-list-item-container11">
            <ion-list id="verificarChango-list37">
            <ion-item class="item-icon-right dark" ng-repeat="item in alertas" ng-click="abrirModal(item)">
                {{alertas.comercioId}}	
                   <i class="icon ion-alert-circled"></i>
            </ion-item>                
            </ion-list>
        </div>
    </ion-content>
    <script id="alertas-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">{{alerta.producto.nombre}}</h1>
          </ion-header-bar>
          <ion-content>            
            <p>{{alerta.comercio.nombre}}</p>
            <p>{{alerta.comercio.direccion}}</p>
            <p>${{alerta.precio}}</p>
            <p>${{alerta.diferenciaPrecio}}</p>
            <p>{{alerta.porcentaje}}%</p>
          </ion-content>
        </ion-modal-view>
      </script>
</ion-view>